<!-- <p>new-password works!</p> -->

<!-- <a href="/log-in"><button type="button" class="backButton" onclick="alert('Did you remember your password? Then go ahead and put it in!')">Go Back</button></a><br>

<h1>Rewrite your Password!</h1>

<p>Change your password here!</p>

<form>
    <label class="label1" for="cemail">Email: </label>
    <input class="field1" type="text" id="cemail" name="cemail"><br><br>
    <label class="label2" for="ipasscode">Passcode: </label>
    <input class="field2" type="text" id="ipasscode" name="ipasscode"><br><br>
    <label class="label3" for="cusername">Username: </label>
    <input class="field3" type="text" id="cusername" name="cusername"><br><br>
    <label class="label4" for="opassword">Old Password: </label>
    <input class="field4" type="text" id="opassword" name="opassword"><br><br>
    <label class="label5" for="npassword">New Password: </label>
    <input class="field5" type="text" id="npassword" name="npassword"><br><br>
</form>

<p>*Save your new password. Share it with no one!</p>


<a href="/log-in"><button type="button" class="saveButton" onclick="alert('Now that you\'ve got your password, let\'s get to list-making already!')">Save</button></a><br><br> -->


<!-- New Version -->

<div class="container">
    <a href="/log-in"><button class="backButton" type="button" onclick="alert('Going back to The Bouncer Screen!')">Go Back</button></a>
    
    <h1 class="test-center">{{ title }}</h1>
    <a href="/how-to"><button class="helpButton" type="button", onclick="alert('Want some help? We know where to go!')">Help Page</button></a><br>
    <p>Change your password here!</p>

    <div class="row">
        <div class="col-6" id="formInput">
            <form (ngSubmit)="onSubmit()" #f="ngForm">
                <div id="user-data"
                ngModelGroup="userData"
                #userData="ngModelGroup">

                    <div class="form-group">
                        <label for="email">Email:</label>
                        <input
                        type="email"
                        id="email"
                        class="form-control"
                        ngModel
                        name="email"
                        required
                        email
                        #email="ngModel">

                        @if (!email.valid && email.touched) {
                            <span class="help-block">Your email must be valid!</span>
                        }

                    </div>

                    
                    <div class="form-group">
                        <label for="uname">Username:</label>
                        <input
                        type="text"
                        id="uname"
                        class="form-control"
                        ngModel
                        name="uname"
                        required
                        text 
                        #uname="ngModel">

                        @if (!uname.valid && uname.touched) {
                            <span class="help-block" ng-invalid ng-touched>All users must have a username! (Duh.)</span>
                        }

                    </div>

                    <div class="form-group">
                        <label for="npassword">New Password:</label>
                        <input
                        type="password"
                        id="npassword"
                        class="form-control"
                        ngModel
                        name="npassword"
                        required
                        password
                        #npassword="ngModel">

                        @if (!npassword.valid && npassword.touched) {
                            <span class="help-block">Your new password must be valid too!</span>
                        }
                    </div>

                    <div class="form-group">
                        <label for="cpassword">Confirm Password:</label>
                        <input
                        type="password"
                        id="opassword"
                        class="form-control"
                        ngModel
                        name="cpassword"
                        required
                        password
                        #cpassword="ngModel">

                        @if ((cpassword.value != npassword.value) && cpassword.touched) {
                            <span class="help-block">Make sure you got your new password right!</span>
                        }

                    </div>                    

                    <div class="form-group">
                        <label for="passcode">Passcode:</label>
                        <input
                        type="password"
                        id="passcode"
                        class="form-control"
                        ngModel
                        name="passcode"
                        required
                        password
                        #passcode="ngModel">

                        @if (!passcode.valid && passcode.touched) {
                            <span class="help-block">Your new passcode must be valid too!</span>
                        }

                    </div>

                </div>

                <button
                class="btn btn-primary"
                type="submit"
                [disabled]="!f.valid">Save</button>

            </form>

            @if (!userData.valid && userData.touched) {
                <span>Please enter valid credentials in English.</span>
            }

        </div>

        <p>*Save your new password. Share it with no one!</p>
 
    <!--@if (submitted) {
            <div class="col-6" id="displayData">
                <h3>New user password Data:</h3>
                <p>Email: {{ user.email }}</p>
                <p>Username: {{ user.username }}</p>
                <p>User's new test Password: {{ user.new_password }}</p>
                <p>User's confirmed test Password: {{ user.confirm_password }}</p>
                <p>User's test Passcode: {{ user.passcode }}</p>
            </div>
        } -->

    </div>
</div>
